<div class="row content-header">
  <h3 class="col-xs-9">
    Detected Obstacles
  </h3>
  <div class="col-xs-3 action-buttons text-right">
      <small><i class="fa fa-plus"></i> Detected objects appear here automaticallly </small>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <% if @detected_obstacles.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        All Detected Obstacle
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Time</th>
              <th>Distance in Centimeters</th>
              <th>Image</th>
            </tr>
          </thead>

          <tbody>
            <% @detected_obstacles.each do |detected_obstacle| %>
              <tr>
                <td><%= detected_obstacle.timestamps.strftime('%B %d, %Y: %H:%M %Z') || 'Time not Recorded' %></td>
                <td><%= detected_obstacle.distance || 'Distance not Recorded' %></td>
                <td><%= 'No Image yet' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <% else %>
      <h3>No Objects detected yet</h3>
    <% end %>
  </div>
